* {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.load-con {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: #dedede;
  position: fixed;
  z-index: 20;
}
.loader {
  border: 3px solid #ef0d33;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
#loader2 {
  border: 3px solid #2a2c47;
  width: 220px;
  height: 220px;
  position: absolute;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
#loader3 {
  border: 3px solid #ef0d33;
  width: 240px;
  height: 240px;
  position: absolute;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
#loader4 {
  border: 3px solid #2a2c47;
  width: 260px;
  height: 260px;
  position: absolute;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
@keyframes rotate {
  0% {
    transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
#load-text {
  font-size: 20px;
  position: absolute;
}

#load-con.hidden {
  animation: fadeOut 2s;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

.navigation {
  z-index: 1;
  background-color: #2a2c47;
  position: fixed;
  display: block;
  height: 100vh;
  width: 300px;
  box-shadow: 3px 0px 10px 0px rgba(255, 255, 255, 0.08);
  ul {
    margin: 14em 4em;
    list-style: none;
    display: block;
    .nav-link {
      display: block;
      margin: 2em 0;
      a {
        font-family: Orbitron, Helvetica, sans-serif;
        padding: 1em 0;
        font-size: 1.35em;
        text-decoration: none;
        color: white;
        &:hover {
          color: #ef0d33;
          margin-left: 1em;
        }
      }
    }
  }
}
.socialLinks {
  ul {
    list-style: none;
    margin: 4em 4em;
    display: flex;
  }
}
.socialIcon {
  margin-right: 1.5rem;
  height: 24px;
  fill: white;
}

#hero {
  z-index: 1;
  width: calc(100% - 300px);
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./assets/fernando-hernandez-efzwcMRM6j4-unsplash.jpg");
  background-size: cover;
  color: white;
  position: relative;
  left: 300px;
}
.content {
  display: inline-block;
  margin: 18rem 5rem;
  h1 {
    text-transform: uppercase;
    font-size: 4em;
    margin: 1.5rem 0;
  }
  p,
  h2 {
    font-family: Orbitron, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: normal;
  }
  span {
    font-family: Orbitron, Helvetica, sans-serif;
    font-size: 1em;
    color: #ef0d33;
  }
}
.cta {
  text-decoration: none;
  color: white;
  background-color: #ef0d33;
  font-size: 1.2em;
  padding: 1em 1.5em;
  border-radius: 8px;
  margin: 1.8em 0;
  display: inline-block;
}
.secondary-btn {
  text-decoration: none;
  color: #ef0d33;
  background-color: rgba(255, 255, 255, 0.438);
  border: 3px #ef0d33 solid;
  font-size: 1em;
  padding: 1em 1.5em;
  border-radius: 8px;
  margin: 1.8em 0;
  display: inline-block;
}

#about,
#resume,
#projects,
#contact {
  width: calc(100% - 300px);
  position: relative;
  left: 300px;
  display: inline-block;
}
#about,
#projects {
  background: #fafafa;
}
.about-content {
  margin-top: 5em;
  max-width: 31em;
  line-height: 1.8em;
  padding: 2em;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.1);
}

.resume-content {
  margin-top: 5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
}
.resume-item {
  h1 {
    font-family: Orbitron, Helvetica, sans-serif;
    margin-left: 2rem;
    font-size: 1.8em;
  }
  .item-content {
    margin-top: 2em;
    padding: 2rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.1);
    h3 {
      font-size: 1.3em;
    }
    .date {
      font-weight: bold;
      color: #ef0d33;
    }
    .desc {
      margin-top: 1em;
    }
    hr {
      margin: 2em 0;
    }
  }
}
.pills ul {
  list-style: none;
  margin-top: 1em;
  li {
    display: inline-block;
    background-color: #ef0d33;
    color: white;
    padding: 0.5em;
    margin: 0.2em 0;
    border-radius: 20px;
  }
}

footer {
  width: calc(100% - 300px);
  position: relative;
  left: 300px;
  display: inline-block;
  color: #8f8f8f;
  background-color: #131313;
  .socialLinks {
    ul {
      margin: 2rem 0;
    }
  }
  .section-title {
    border-left: 0px solid #dedede;
    padding-left: 0;
    margin: 3rem 5rem;
  }
}
.container {
  margin: 2rem;
  padding: 3rem 0;
}
.section-title {
  border-left: 4px solid #dedede;
  padding-left: 2rem;
  h1 {
    font-family: Orbitron, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #222;
    font-size: 2.7em;
    margin-bottom: 1rem;
  }
}

#contact {
  background-color: #2a2c47;
  color: white;
  z-index: 0;
  h1 {
    color: white;
  }
  .section-title {
    border-left: 4px solid #ef0d33;
  }
  .infos {
    margin: 5rem 0;
    li {
      display: flex;
      margin: 3rem 0;
    }
    .icon {
      height: 24px;
      fill: #ef0d33;
      margin-right: 2rem;
    }
  }
}
.grid-container {
  margin-top: 5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0.5em;
  justify-content: space-between;
  grid-row-gap: 1em;
}

.grid-item {
  height: 250px;
  position: relative;
  background-color: #2a2c47;
  border-radius: 15px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    &:hover {
      opacity: 1;
    }
  }
  .overlay-content {
    position: relative;
    top: 20%;
    text-align: center;
    margin: 0 auto;
    color: white;
    h1 {
      font-size: 2em;
    }
    svg {
      margin-right: 0;
      margin-left: 4px;
    }
  }
}
@media screen and (max-width: 1500px) {
  * {
    font-size: 15px;
  }
  .navigation ul {
    margin: 12em 4em;
  }
  .content {
    margin: 16rem 5rem;
  }
}
@media screen and (max-width: 1100px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .navigation {
    width: 0px;
    z-index: 5;
    overflow: hidden;
    transition: 0.5s;
  }
  .navigation ul {
    margin: 10em 4em;
  }
  #hero,
  #about,
  #resume,
  #projects,
  #contact,
  footer {
    left: 0;
    width: 100%;
    z-index: 0;
  }
  .content {
    margin: 12rem 5rem;
  }
  .small-nav {
    background-color: #2a2c47;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    transition: 0.5s;
    width: 100%;
  }
  .menubtn {
    padding: 0.5em 1em;
    display: inline-block;
    margin: 0.5em 2em;
    &:hover {
      background-color: #fafafa;
    }
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ef0d33;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 630px) {
  * {
    font-size: 13px;
  }
  .resume-content {
    grid-template-columns: 1fr;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-height: 560px) {
  * {
    font-size: 13px;
  }
}
@media screen and (max-height: 500px) {
  * {
    font-size: 12px;
  }
}
@media screen and (max-height: 450px) {
  * {
    font-size: 11px;
  }
}
@media screen and (max-height: 400px) {
  .navigation ul {
    margin: 8em 4em;
  }
}
