* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.load-con {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dedede;
  position: fixed;
  z-index: 20;
}

.loader {
  border: 3px solid #ef0d33;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
          animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}

#loader2 {
  border: 3px solid #2a2c47;
  width: 220px;
  height: 220px;
  position: absolute;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
          animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}

#loader3 {
  border: 3px solid #ef0d33;
  width: 240px;
  height: 240px;
  position: absolute;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
          animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}

#loader4 {
  border: 3px solid #2a2c47;
  width: 260px;
  height: 260px;
  position: absolute;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
          animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@-webkit-keyframes rotate2 {
  0% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes rotate2 {
  0% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

#load-text {
  font-size: 20px;
  position: absolute;
}

#load-con.hidden {
  -webkit-animation: fadeOut 2s;
          animation: fadeOut 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

.navigation {
  z-index: 1;
  background-color: #2a2c47;
  position: fixed;
  display: block;
  height: 100vh;
  width: 300px;
  -webkit-box-shadow: 3px 0px 10px 0px rgba(255, 255, 255, 0.08);
          box-shadow: 3px 0px 10px 0px rgba(255, 255, 255, 0.08);
}

.navigation ul {
  margin: 14em 4em;
  list-style: none;
  display: block;
}

.navigation ul .nav-link {
  display: block;
  margin: 2em 0;
}

.navigation ul .nav-link a {
  padding: 1em 0;
  font-size: 1.35em;
  text-decoration: none;
  color: white;
}

.navigation ul .nav-link a:hover {
  color: #ef0d33;
  margin-left: 1em;
}

.socialLinks ul {
  list-style: none;
  margin: 4em 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialIcon {
  margin-right: 1.5rem;
  height: 24px;
  fill: white;
}

#hero {
  z-index: 1;
  width: calc(100% - 300px);
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("./assets/fernando-hernandez-efzwcMRM6j4-unsplash.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./assets/fernando-hernandez-efzwcMRM6j4-unsplash.jpg");
  background-size: cover;
  color: white;
  position: relative;
  left: 300px;
}

.content {
  display: inline-block;
  margin: 18rem 5rem;
}

.content h1 {
  text-transform: uppercase;
  font-size: 4em;
  margin: 1.5rem 0;
}

.content p,
.content h2 {
  font-size: 2em;
}

.content span {
  font-size: 1em;
  color: #ef0d33;
}

.cta {
  text-decoration: none;
  color: white;
  background-color: #ef0d33;
  font-size: 1em;
  padding: 1em 1.5em;
  border-radius: 8px;
  margin: 1.8em 0;
  display: inline-block;
}

.secondary-btn {
  text-decoration: none;
  color: #ef0d33;
  background-color: rgba(255, 255, 255, 0.438);
  border: 3px #ef0d33 solid;
  font-size: 1em;
  padding: 1em 1.5em;
  border-radius: 8px;
  margin: 1.8em 0;
  display: inline-block;
}

#about,
#resume,
#projects,
#contact {
  width: calc(100% - 300px);
  position: relative;
  left: 300px;
  display: inline-block;
}

#about,
#projects {
  background: #fafafa;
}

.about-content {
  margin-top: 5em;
  max-width: 31em;
  line-height: 1.8em;
  padding: 2em;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.1);
}

.resume-content {
  margin-top: 5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
}

.resume-item h1 {
  margin-left: 2rem;
  font-size: 1.8em;
}

.resume-item .item-content {
  margin-top: 2em;
  padding: 2rem;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.1);
}

.resume-item .item-content h3 {
  font-size: 1.3em;
}

.resume-item .item-content .date {
  font-weight: bold;
  color: #ef0d33;
}

.resume-item .item-content .desc {
  margin-top: 1em;
}

.resume-item .item-content hr {
  margin: 2em 0;
}

.pills ul {
  list-style: none;
  margin-top: 1em;
}

.pills ul li {
  display: inline-block;
  background-color: #ef0d33;
  color: white;
  padding: 0.5em;
  margin: 0.2em 0;
  border-radius: 20px;
}

footer {
  width: calc(100% - 300px);
  position: relative;
  left: 300px;
  display: inline-block;
  color: #8f8f8f;
  background-color: #131313;
}

footer .socialLinks ul {
  margin: 2rem 0;
}

footer .section-title {
  border-left: 0px solid #dedede;
  padding-left: 0;
  margin: 3rem 5rem;
}

.container {
  margin: 5rem;
}

.section-title {
  border-left: 4px solid #dedede;
  padding-left: 2rem;
}

.section-title h1 {
  text-transform: uppercase;
  color: #222;
  font-size: 2.7em;
  margin-bottom: 1rem;
}

#contact {
  background-color: #2a2c47;
  color: white;
  z-index: 0;
}

#contact h1 {
  color: white;
}

#contact .section-title {
  border-left: 4px solid #ef0d33;
}

#contact .infos {
  margin: 5rem 0;
}

#contact .infos li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3rem 0;
}

#contact .infos .icon {
  height: 24px;
  fill: #ef0d33;
  margin-right: 2rem;
}

.grid-container {
  margin-top: 5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0.5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-row-gap: 1em;
}

.grid-item {
  height: 250px;
  position: relative;
  background-color: chocolate;
  border-radius: 15px;
}

.grid-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.grid-item .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.7);
}

.grid-item .overlay:hover {
  opacity: 1;
}

.grid-item .overlay-content {
  position: relative;
  top: 20%;
  text-align: center;
  margin: 0 auto;
  color: white;
}

.grid-item .overlay-content h1 {
  font-size: 2em;
}

.grid-item .overlay-content svg {
  margin-right: 0;
  margin-left: 4px;
}

@media screen and (max-width: 1500px) {
  * {
    font-size: 15px;
  }
  .navigation ul {
    margin: 12em 4em;
  }
}
/*# sourceMappingURL=main.css.map */